<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
</head>
<body>
  <h1>마이페이지</h1>

  <p>{{ user_id }}님이 작성한 글</p>
  <p>게시글 수 : {{ posts|length}}</p>
  <p>받은 뱃지, 모든 좋야요 수, 평균 평점</p>
  <p><a href="{{ url_for('write.write') }}">새 글 작성</a></p>

{% for post in posts %}
  <article>
    <h2>{{ post.title }}</h2>

    <a href="{{ url_for('write.edit', id=post._id) }}">
      수정
    </a>

    <form
      method="POST"
      action="{{ url_for('mypage.delete_post', post_id=post._id) }}"
    >
      <button type="submit">삭제</button>
    </form>
  </article>
{% else %}
  <p>작성한 글이 없습니다.</p>
{% endfor %}
</body>
</html>
